
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/edo-sz');

                

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    
}


form {
    font-family: 'Poppins';
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

textarea,
select,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


input[type="submit"] {
    background-color: #2165c0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Poppins';
}

input[type="submit"]:hover {
    background-color: #0015b3;
}

h1 {
    font-family: 'Edo SZ', sans-serif;

}